amqp==5.2.0
anyascii==0.3.2
asgiref==3.8.1
beautifulsoup4==4.12.3
billiard==4.2.1
celery==5.4.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
defusedxml==0.7.1
dj-database-url==2.2.0
Django==5.1.1
django-cockroachdb==5.1
django-filter==24.3
django-health-check==3.18.3
django-modelcluster==6.3
django-permissionedforms==0.1
django-prometheus==2.3.1
django-stubs==5.1.1
django-stubs-ext==5.1.1
django-taggit==5.0.1
django-treebeard==4.7.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
draftjs-exporter==5.0.0
et-xmlfile==1.1.0
filetype==1.2.0
idna==3.10
kombu==5.4.2
l18n==2021.3
laces==0.1.1
mypy==1.13.0
mypy-extensions==1.0.0
openpyxl==3.1.5
pillow==10.4.0
pillow_heif==0.20.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
psutil==6.1.0
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-logstash==0.4.8
pytz==2024.2
redis==5.1.1
requests==2.32.3
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
telepath==0.3.1
types-PyYAML==6.0.12.20240917
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
wheel==0.44.0
Willow==1.8.0
